@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background: #333;
}

.home-image {
  /* display: block; */
  background: url("../../img/home-background.png") no-repeat center center /
    cover;
  width: 420px;
  height: 420px;
}

.home-title {
  font-family: var(--font-family);
  color: #fff;
  padding-bottom: 1rem;
}

.home-container p {
  font-family: var(--font-family);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0 10rem;
}

@media (max-width: 768px) {
  .home-container {
    width: 100%;
    height: 550px;
  }

  .home-image {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-container > p {
    margin: 0 1rem;
  }
}

@media (max-width: 500px) {
  .home-image {
    height: 420px;
    width: 420px;
  }

  .home-title {
    font-size: 2rem;
    text-align: center;
  }

  .home-container > p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  html {
    height: 100%;
  }
}
