* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

#main-navbar {
  padding: 0.5rem;
  height: 5rem;
  background: #24282f;
  position: relative;
  width: 100%;
  font-family: arial, sans-serif;
}

#main-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-navbar .container {
  height: 100%;
  margin: auto;
  max-width: 1100px;
}

#main-navbar .header-title {
  color: rgb(0, 202, 0);
}

#main-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#main-navbar ul li {
  margin: 0 1rem;
}

#main-navbar ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

#main-navbar ul a:hover {
  color: green;
}

.hamburger-menu {
  display: none;
  margin: 1em;
  width: 40px;
}

.hamburger-menu:after,
.hamburger-menu:before,
.hamburger-menu div {
  background-color: rgb(0, 202, 0);
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.4s ease-in-out;
}

.hamburger-menu:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.hamburger-menu:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.hamburger-menu:hover div {
  transform: scale(0);
}

@media (max-width: 1100px) {
  #main-navbar {
    padding: 0.5rem 5rem;
  }

  #main-navbar ul {
    display: none;
  }

  #main-navbar .hamburger-menu {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  #main-navbar {
    padding: 0.5rem 2rem;
  }
}
