.info-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #333;
  height: 89vh;
  font-family: Arial, Helvetica, sans-serif;
}

.locations-info-name {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.locations-info-type {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.locations-info-dimension {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}


@media(max-width:500px) {
  .locations-info-name{
    font-size: 2rem;
  }
  .locations-info-type{
    font-size: 2rem;
  }
  .locations-info-dimension{
    font-size: 2rem;
  }
}